body {
    background-image: url('457505.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo {
    max-width: 100px;
    height: auto;
}

.center {
    text-align: center;
    margin: 20px 0;
}

.container {
    color: aliceblue;
    height: auto;
    width: 50%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(209, 170, 170, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 15px;
    background-color: rgba(78, 5, 214, 0.736);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2a96f4;
}
